<!doctype html>
<html lang="{{ or site.Language.LanguageCode }}">
    <head>
        <meta charset="utf-8" />
        <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                margin: 0;
            }
        </style>
    </head>
    <body>
        {{ partial "partials/header.html" . }} {{ block "main" . }} {{ end }} {{
        partial "partials/footer.html" . }}
    </body>
</html>
